//- COMMON CONFIGURATION
//- META AND SITE SETTINGS
-var isSocialSEO = false;

//- SUPPORT IE 9
-var isIE9 = false;

//- Favicon (if provided)
-var isFavicon = true;

//- For External Scripts
-var isJQuery = false;
-var isAOE = false;
-var isSlick = false;
-var isSwiper = false;
//- -var isSlideBar = false;
-var fontA = false;


