header.siteHeader
    .siteHeader__flex
        .siteHeader__logo
            img(src=`${relativePathKv}top_kv-logo.png` alt='logo')
        .siteHeader__contact
            .siteHeader__contact__number
                img(src=`${relativePathKv}top_kv-contactNo.png`, alt="contact no")
            a.siteHeader__contact__link(href="#") ま ずは無料相談・お問い合わせ
    nav.nav
        ul.nav__lists
            li.nav__items
                a.nav__link(href="#") 相続のご相談
                a.nav__link(href="#") 顧問税理士をお探しの方
                a.nav__link(href="#") ご依頼の流れ
                a.nav__link.nav__link--active(href="#") よくあるご質問
                a.nav__link(href="#") 事務所案内
                a.nav__link(href="#") お問い合わせ
    
