/*--------------------------------------
_common.scss
---------------------------------------*/

.mainSection {}

/* --------------------------
GENERAL PURPOSE
---------------------------*/
/* --------------
MARGINS
---------------*/
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

/* --------------
TEXT ALIGNMENTS
---------------*/
.txt-c {
    text-align: center;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.txt-j {
    text-align: justify;
}