/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  width: 100%;
  height: $headerHeightPC;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  box-shadow: 1px 1px 5px 10px rgba($black, 0.1);
  z-index: 100;

  .is_login_user & {
    top: $wpAdminBarPC;
  }

  &__innerArea {
    @include u-contentCenter;
    @include u-flex($jc: space-between, $ai: center);
  }

  &__innerArea__logo {
    width: 60px;
  }

  &__innerArea__logo__link {
    @include u-trsPC;
    @include u-hoverOp;
    display: block;
  }


  // gNavArea
  &__innerArea__gNavArea__pageList {
    @include u-flex($ai: center);
  }

  &__innerArea__gNavArea__pageList__item__link {
    @include u-trsPC;
    @include u-hoverOp;
    padding: 0 15px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}

/*-----------------------------------------------
siteHeader(SP)
------------------------------------------------*/
@include u-mqMax {
  .siteHeader {}
}
