// SPECIFIC CONFIGURATION
//- META AND SITE SETTINGS
-var isSocialSEO = false;

//- GOOGLE TAG MANAGER/ANALYTICS
//- REPLACE TESTING TAG to ACTUAL BEFORE RELEASE PHASE.
-var isGoogleTagManager = true;

//- Favicon (if provided)
-var isFavicon = true;

//- For External Scripts
-var isJQuery = true;
-var isAOE = false;
-var isSlick = false;
-var isSwiper = false;
//- -var isSlideBar = false;
-var fontA = false;
-var isIE9 = true;