//- PAGE TITLE
-var site_name = 'XXXXXXXXXXX';

//- SEO/META CONTENT
-var page_description = "meta description";
-var page_title = "LOREM IPSUM | CHILD";
-var page_keyword = "meta keyword";
-var page_type = "website";
-var page_locale = "ja_JP";
-var page_url = "";
-var page_image = path+"/img/common/ogp.png";
-var tw_app_card = "summary_large_image";
